language: python
python:
  - "2.7"
# command to install dependencies
install: "pip install -r setup/requirements.txt"
# command to run tests
script: "cd test; python -m unittest ServerTest.ServerTest"
